<% include layout/header.ejs %>

  <a href = "/create">Create post</a>
  <ul>
    <% posts.forEach(function(post) { %>
      <li>
        <%= post.title %>
        <br>
        <%= post.body %>
      </li>
      <br>
    <% }); %>
  </ul>

  <% include layout/footer.ejs %>
